
</div>
<div class="footer">
    <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eius dolor, fugiat et quod veritatis, voluptate provident deleniti voluptatibus ut aliquid eaque ipsam hic amet possimus aliquam, est cum labore.</p></div>
    <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eius dolor, fugiat et quod veritatis, voluptate provident deleniti voluptatibus ut aliquid eaque ipsam hic amet possimus aliquam, est cum labore.</p></div>
</div>
<script scr="/js/jquery.min.js"></script>
</body>
</html>