<!DOCTYPE html>
<html lang="en">
<head>
    <!-- character encoding -->
    <meta charset="UTF-8"> 
    <!-- display webpage in edge mode and places IE in highest supported document mode -->
    <meta http-equiv="x-ua-compitable" content="IE=edge , chrom=1">
    <!-- optamization for mobile screen -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>design</title> 
    <link rel="stylesheet" href="css/style.css" type="text/css"></link>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container">
        <div class="hero">
            <div class="left">
                <div id="heading">YOU PICK WE DECORATE</div>
            </div>
            <div class="right"></div>
        </div>
        <img src="img/home.png" id="home" alt="">

        <nav>
            <ul class="nav">
                <li class="option"><a href="/bedroom">BEDROOM</a></li>
                <li class="option"><a href="/dining">DINING</a></li>
                <li class="option"><a href="/bathroom">BATHROOM</a></li>
            </ul>
        </nav>
        <img src="img/bedroom.png" class="menu" alt="">

    </div>
    <div class="footer">
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eius dolor, fugiat et quod veritatis, voluptate provident deleniti voluptatibus ut aliquid eaque ipsam hic amet possimus aliquam, est cum labore.</p></div>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eius dolor, fugiat et quod veritatis, voluptate provident deleniti voluptatibus ut aliquid eaque ipsam hic amet possimus aliquam, est cum labore.</p></div>
    </div>
    
    <!-- jquery before js -->
    <script scr="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>